@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  background: rgba(255, 255, 255, 1);
  color: #000000;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
dl,
dt,
dd {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  height: auto;
}
figure {
  margin: 0;
  padding: 0;
  border: 0;
}
.list {
  list-style: none;
}

button,
a {
  cursor: pointer;
}

.button:hover {
  scale: 120%;
}

.e-q-header.is-open .e-q-header-background {
  left: 0;
}
.e-q-header-button-wrapper {
  margin-left: auto;
}
.e-q-header-icon {
  display: none;
}

.e-q-header-icon-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}
.e-q-navigation-list.is-open {
  right: 0;
}
.e-q-header-icon-menu {
  display: block;
}

.e-q-header-icon-button.is-open .e-q-header-icon-menu {
  display: none;
}

.e-q-header-icon-button.is-open .e-q-header-icon-close {
  display: block;
}

.e-q-header {
  position: fixed;
  width: 100%;
  z-index: 5;
  transition: background-color 0.3s ease;
  background: transparent;
  display: flex;
  height: 76px;
  background: rgba(255, 255, 255, 1);
}

.e-q-header-background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 100%;
  z-index: -1;
  transition: left 0.3s ease;
  background: rgba(255, 255, 255, 1);
}
.e-q-header.is-open .e-q-header-background {
  left: 0;
}
.e-q-header-button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.e-q-header-icon-menu {
  display: block;
}

.e-q-header-icon-button.is-open .e-q-header-icon-menu {
  display: none;
}

.e-q-header-icon-button.is-open .e-q-header-icon-close {
  display: block;
}

.e-q-navigation {
  display: -ms-flexbox;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 9px 15px;
  position: relative;
}

.e-q-navigation-list {
  display: flex;
  flex-direction: column;
  align-items: start;
  position: absolute;
  top: 100%;
  right: -100%;
  width: 100%;
  height: 557px;
  transition: 0.3s;
  z-index: 999;
  padding: 0px 32px;
  border-radius: 0px 0px 20px 20px;
  gap: 28px;
  background: rgba(255, 255, 255, 1);
}

.e-q-navigation-list.is-open {
  right: 0;
}

.e-q-navigation-link {
  font-family: Inter;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;

  transition: all 0.3s ease-in-out;
  text-decoration: none;
  color: rgba(0, 0, 0, 1);
  border-radius: 16px;
  padding-top: 8px;
  padding-right: 24px;
  padding-bottom: 8px;
  padding-left: 24px;
}

.e-q-navigation-link:hover,
.e-q-navigatioт-link:focus {
  background: rgba(178, 176, 176, 1);
  color: rgba(255, 255, 255, 1);
}

.e-q-header.is-open {
  background-color: transparent;
}

.e-q-navigation-img {
  display: none;
}

@media screen and (min-width: 1198px) {
  .e-q-navigation-img {
    display: flex;
    margin-right: 251px;
  }
  .e-q-policy-terms-header-icon-menu {
    display: none;
  }

  .e-q-header {
    width: 100%;
    height: 70px;
    padding: 10px 0px 10px 72px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }

  .e-q-header-background {
  }
  .e-q-header-icon-button {
    display: none;
  }
  .e-q-navigation {
    display: flex;
    flex-direction: row;
    flex: 1;
    padding: 0;
    width: 1440px;
    margin: auto;
  }

  .e-q-navigation-list {
    background-color: transparent;
    flex-direction: row;
    display: flex;
    position: static;
    width: 1440px;
    margin: auto;
    padding-block: 0;
    flex: 1;
    gap: 0px;
    height: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: start;
  }

  .e-q-navigation-link {
    font-family: Inter;
    font-weight: 400;
    font-size: 14px;

    text-decoration: none;
  }

  .e-q-navigation-item-desk {
    display: none;
  }
}
.e-q-home {
  width: 375px;
  height: 562px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/Frame\ 2467.png");
  margin: auto;
}
.e-q-home-container {
  width: 375px;
  padding: 111px 30px 0px;
  margin: auto;
  color: rgba(255, 255, 255, 1);
}

.e-q-home-container-top {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.e-q-home-title {
  font-family: Inter;
  font-weight: 700;
  font-size: 36px;
  padding-right: 10px;
}

.e-q-home-text {
  font-family: Inter;
  font-weight: 400;
  font-size: 20px;
  padding: 20px 0;
}

.e-q-home-link {
  border: 1px solid rgba(255, 255, 255, 1);
  background: rgba(106, 46, 237, 1);
  width: 315px;
  border-radius: 32px;
  padding-top: 21px;
  padding-bottom: 21px;
  font-family: Inter;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  color: rgba(255, 255, 255, 1);
  text-decoration: none;
  text-align: center;
}

.e-q-home-link:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}

@media screen and (min-width: 1198px) {
  .e-q-home {
    width: 1440px;
    height: 788px;
    background-image: url("/img/Frame\ 2468.png");
  }
  .e-q-home-container {
    width: 1440px;
    padding: 206px 0px 0px 128px;
  }
  .e-q-home-container-top {
    width: 726px;
  }

  .e-q-home-title {
    font-family: Inter;
    font-weight: 700;
    font-size: 50px;
  }

  .e-q-home-text {
    font-family: Inter;
    font-weight: 400;
    font-size: 24px;
    padding: 56px 0;
  }
  .e-q-home-link {
    width: 416px;
    font-family: Inter;
    font-weight: 500;
    font-size: 16px;
  }
}

.e-q-about {
  margin: auto;
  width: 375px;
  height: 1515px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/why/Frame\ 2469.png");
}
.e-q-about-container {
  width: 375px;
  padding: 50px 15px 0px;
  margin: auto;
}
.e-q-about-title {
  font-family: Inter;
  font-weight: 600;
  font-size: 18px;
  text-transform: uppercase;
  color: rgba(100, 76, 124, 1);
}
.e-q-about-text {
  font-family: Inter;
  font-weight: 500;
  font-style: italic;
  font-size: 20px;
  text-align: right;
  padding-top: 435px;
}

.e-q-why-list {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.e-q-why-item {
  width: 345px;
  border-radius: 25px;
  padding: 20px;
  background: rgba(255, 255, 255, 1);
  box-shadow: 0px 2px 50px 0px rgba(100, 76, 124, 0.08);
}
.e-q-why-img {
  width: 80px;
  height: 80px;
}
.e-q-why-text-bold {
  font-family: Inter;
  font-weight: 500;
  font-size: 18px;
  padding: 15px 0;
}
.e-q-why-text {
  font-family: Inter;
  font-weight: 300;
  font-size: 18px;
}
@media screen and (min-width: 1198px) {
  .e-q-about {
    width: 1440px;
    height: 899px;
    background-image: url("/img/why/Frame\ 2471.png");
  }
  .e-q-about-container {
    width: 1440px;
    padding: 110px 72px 0;
  }
  .e-q-about-title {
    font-family: Inter;
    font-weight: 600;
    font-size: 24px;
    text-transform: uppercase;
  }
  .e-q-about-text {
    font-family: Inter;
    font-weight: 500;
    font-style: italic;
    font-size: 36px;
    text-align: right;

    padding-top: 48px;
  }

  .e-q-why-list {
    padding-top: 48px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
    width: 636px;
    margin-left: 660px;
  }
  .e-q-why-item {
    width: 306px;
    height: 243px;
    border-radius: 32px;
    padding: 24px;
  }
  .e-q-why-img {
    width: 80px;
    height: 80px;
  }
  .e-q-why-text-bold {
    font-family: Inter;
    font-weight: 500;
    font-size: 24px;

    padding: 16px 0;
  }
  .e-q-why-text {
    font-family: Inter;
    font-weight: 300;
    font-size: 22px;
  }
}
.e-q-uniqueness {
  margin: auto;
  width: 375px;
  height: 853px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/1.png");
}
.e-q-uniqueness-container {
  margin: auto;
  width: 375px;
  padding: 20px 15px 0;
}
.e-q-about-title-two {
  text-align: right;

  color: rgba(255, 255, 255, 1);
}
.e-q-uniqueness-text-bold {
  padding-top: 295px;
  font-family: Inter;
  font-weight: 500;
  font-style: italic;
  font-size: 20px;
  color: rgba(255, 255, 255, 1);
}
.e-q-uniqueness-list {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.e-q-uniqueness-item {
  display: flex;
  gap: 10px;
  background: rgba(255, 255, 255, 1);
  box-shadow: 0px 2px 50px 0px rgba(100, 76, 124, 0.08);
  font-family: Inter;
  font-weight: 300;
  font-size: 18px;
  border-radius: 16px;
  padding: 20px;
}
@media screen and (min-width: 1198px) {
  .e-q-uniqueness {
    width: 1440px;
    height: 704px;
    background-image: url("/img/11.png");
  }
  .e-q-uniqueness-container {
    margin: auto;
    width: 1440px;
    padding: 56px 72px;
  }
  .e-q-uniqueness-text-bold {
    padding-top: 48px;
    font-family: Inter;
    font-weight: 500;
    font-style: italic;
    font-size: 36px;
    width: 590px;
  }
  .e-q-uniqueness-list {
    padding-top: 48px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 526px;
  }
  .e-q-uniqueness-item {
    display: flex;
    gap: 10px;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px 2px 50px 0px rgba(100, 76, 124, 0.08);
    font-family: Inter;
    font-weight: 300;
    font-size: 22px;

    border-radius: 16px;
    padding: 20px 24px;
  }
}
.e-q-how {
  margin: auto;
  width: 375px;
  height: 1510px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/Frame\ 2472.png");
}
.e-q-how-container {
  margin: auto;
  width: 375px;
  padding: 45px 15px 0;
}
.e-q-how-title {
  font-family: Inter;
  font-weight: 500;
  font-style: italic;
  font-size: 20px;
  text-align: right;
  padding-top: 470px;
}
.e-q-how-list {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.e-q-how-item {
  background: rgba(100, 76, 124, 1);
  width: 345px;
  height: 157px;
  border-radius: 10px;
  padding-top: 20px;
  padding-right: 15px;
  padding-bottom: 20px;
  padding-left: 15px;
}

.e-q-how-text-bold {
  font-family: Inter;
  font-weight: 700;
  font-size: 28px;
  color: rgba(100, 76, 124, 1);
  width: 80px;
  height: 80px;
  border-radius: 100%;
  background: rgba(255, 255, 255, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.e-q-how-text {
  font-family: Inter;
  font-weight: 300;
  font-size: 18px;
  color: rgba(255, 255, 255, 1);
  padding-top: 15px;
  text-align: center;
}
.e-q-how-text-two {
  font-family: Inter;
  font-weight: 500;
  font-size: 18px;
  color: rgba(100, 76, 124, 1);
  padding-top: 20px;
}
@media screen and (min-width: 1198px) {
  .e-q-how {
    width: 1440px;
    height: 951px;
    background-image: url("/img/Frame\ 2474.png");
  }
  .e-q-how-container {
    margin: auto;
    width: 1440px;
    padding: 110px 72px 0;
  }
  .e-q-how-title {
    font-family: Inter;
    font-weight: 500;
    font-style: italic;
    font-size: 36px;
    text-align: right;

    padding-top: 48px;
  }
  .e-q-how-list {
    padding-top: 48px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
    width: 636px;
    margin-left: auto;
  }

  .e-q-how-item {
    width: 306px;
    height: 171px;
    gap: 16px;
    border-radius: 16px;
    padding-top: 24px;
    padding-right: 16px;
    padding-bottom: 24px;
    padding-left: 16px;
  }

  .e-q-how-text-bold {
    font-family: Inter;
    font-weight: 700;
    font-size: 28px;
    color: rgba(100, 76, 124, 1);
    width: 80px;
    height: 80px;
    border-radius: 100%;
    background: rgba(255, 255, 255, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
  }

  .e-q-how-text {
    font-family: Inter;
    font-weight: 300;
    font-size: 22px;
    text-align: center;
  }
  .e-q-how-text-two {
    font-family: Inter;
    font-weight: 500;
    font-size: 24px;
    width: 636px;
    margin-left: auto;

    padding-top: 48px;
  }
}

.e-q-characters {
  margin: auto;
  width: 375px;
  height: 761px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/Frame\ 2476.png");
}
.e-q-characters-container {
  padding: 50px 15px 0;
  margin: auto;
  width: 375px;
}

.e-q-characters-text-bold {
  font-family: Inter;
  font-weight: 500;
  font-style: italic;
  padding: 347px 0 48px;
}

.e-q-characters-text {
  font-family: Inter;
  font-weight: 400;
  font-size: 18px;
  padding-bottom: 48px;
}
.e-q-characters-link {
  color: rgba(255, 255, 255, 1);
  text-decoration: none;
  font-family: Inter;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;

  text-align: center;
  border: 1px solid rgba(255, 255, 255, 1);
  background: rgba(106, 46, 237, 1);
  width: 315px;
  border-radius: 32px;
  padding-top: 21px;
  padding-bottom: 21px;
  display: block;
}
@media screen and (min-width: 1198px) {
  .e-q-characters {
    width: 1440px;
    height: 673px;
    background-image: url("/img/Frame\ 2477.png");
  }
  .e-q-characters-container {
    padding: 110px 849px 0 65px;
    margin: auto;
    width: 1440px;
  }
  .e-q-characters-text-bold {
    font-family: Inter;
    font-weight: 500;
    font-style: italic;
    font-size: 36px;

    padding: 48px 0 48px;
  }

  .e-q-characters-text {
    font-family: Inter;
    font-weight: 400;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;

    padding-bottom: 48px;
  }
  .e-q-characters-link {
    width: 416px;
  }
}

.e-q-container {
  padding: 101px 15px 40px;
  width: 375px;
  margin: auto;
  font-family: Inter;
  font-weight: 300;
  font-size: 18px;
}

.e-q-container h1 {
  font-family: Inter;
  font-weight: 600;
  font-size: 18px;
  text-transform: uppercase;
  color: rgba(100, 76, 124, 1);
}

.e-q-container h2 {
  margin-top: 10px;
  font-family: Inter;
  font-weight: 500;
  font-size: 18px;
}

.e-q-container h3 {
  margin-top: 10px;
  font-family: Inter;
  font-weight: 500;
  font-size: 18px;
}

.e-q-container ul {
  margin-top: 10px;
  list-style-type: disc;
  margin-left: 20px;
}

.e-q-container ul li {
  margin-bottom: 10px;
}
.e-q-container p {
  margin-top: 10px;
}
.e-q-container a {
  text-decoration: none;
  color: inherit;
  transition: all 0.3s ease-in-out;
}

.e-q-container a:hover {
  text-decoration: underline;
}

strong {
  color: #000;
}
@media screen and (min-width: 1198px) {
  .e-q-container {
    padding: 116px 72px 110px;
    width: 1440px;
    margin: auto;
    font-family: Inter;
    font-weight: 300;
    font-size: 22px;
  }

  .e-q-container h1 {
    font-family: Inter;
    font-weight: 600;
    font-size: 24px;
    text-transform: uppercase;
  }

  .e-q-container h2 {
    margin-top: 20px;
    font-family: Inter;
    font-weight: 500;
    font-size: 24px;
  }

  .e-q-container h3 {
    margin-top: 20px;
    font-family: Inter;
    font-weight: 500;
    font-size: 24px;
  }

  .e-q-container ul {
    margin-top: 20px;
  }

  .e-q-container ul li {
    margin-bottom: 10px;
  }
  .e-q-container p {
    margin-top: 20px;
  }
}

.e-q-footer-container {
  background: rgba(0, 0, 0, 1);

  width: 375px;
  margin: auto;
  padding: 20px 0 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  color: rgba(255, 255, 255, 1);
}
.e-q-footerq {
  font-family: Inter;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  text-decoration: none;
}
.e-q-footerqq {
  font-family: Inter;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;

  color: rgba(255, 255, 255, 1);
  text-decoration: none;
  margin-top: 8px;
}
.e-q-footer-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.e-q-footer-wrapper {
  padding: 20px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  border-top: 1px solid rgba(255, 255, 255, 1);
  border-bottom: 1px solid rgba(255, 255, 255, 1);
  width: 300px;
}

.e-q-footer-text {
  text-decoration: none;
  color: inherit;
  font-family: Inter;
  font-weight: 400;
  font-size: 14px;
}
.e-q-footer-title {
  height: 30px;
  margin: auto;
}
.e-q-footer-copyright {
  font-family: Inter;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  padding-top: 31px;
}

@media screen and (min-width: 1198px) {
  .e-q-footer-container {
    width: 1440px;
    padding: 24px 72px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    gap: 241px;
  }

  .e-q-footerq {
    font-family: Inter;
    font-weight: 500;
    text-align: left;
  }
  .e-q-footerqq {
    font-family: Inter;
    font-weight: 400;
    font-size: 22px;
    text-align: left;
  }
  .e-q-footer-div {
    display: flex;
    flex-direction: row-reverse;
    justify-content: start;
    align-items: start;
    gap: 315px;
  }
  .e-q-footer-wrapper {
    padding: 8px 0 0;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 30px;
    border: none;
    width: 153px;
  }

  .e-q-footer-text {
    text-decoration: none;
    color: inherit;
    font-family: Inter;
    font-weight: 400;
    font-size: 14px;
    text-align: left;
  }
  .e-q-footer-title {
    height: 42px;
    margin: 32px auto 105px;
  }
  .e-q-footer-copyright {
    font-family: Inter;
    font-weight: 400;
    font-size: 16px;
    text-align: center;

    padding-top: 0px;
  }
}

.e-q-cookie-popup {
  position: fixed;
  bottom: 10px;
  width: 375px;
  padding: 20px 15px;
  background: rgba(239, 244, 241, 1);

  z-index: 1000;
  display: none;
}

.e-q-cookie-popup-text-two {
  font-family: Inter;
  font-weight: 400;
  font-size: 18px;
  text-align: center;

  color: rgba(0, 0, 0, 1);
}

.e-q-cookie-button-container {
  padding: 30px 0 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.e-q-cookie-button {
  border: none;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 1);
  width: 196px;
  padding: 18.5px 0;
  border-radius: 36px;
  border-width: 1px;
  font-family: Inter;
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
  text-transform: uppercase;
}

#accept-cookies {
  background: rgba(0, 0, 0, 1);
  color: rgba(254, 254, 254, 1);
}

.e-q-close-popup {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

@media screen and (min-width: 1198px) {
  .e-q-cookie-popup-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .e-q-cookie-popup-text-two {
    font-family: Inter;
    font-weight: 400;
    font-size: 24px;
    text-align: left;
    width: 730px;
  }

  .e-q-cookie-button-container {
    padding: 0;
    margin: auto;
    display: flex;
    flex-direction: row;
    gap: 40px;
  }

  .e-q-cookie-popup {
    position: fixed;
    bottom: 10px;
    width: 1440px;
    padding: 32px 72px;
    display: none;
  }
}
